@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Hammer Time </h1>
    <p class="lead">“Hammer Time” creates various types of hammers :)</p>
    <p></p>
</div>

